<div class="container">
    <div class="final">
     <div class="final_layout">
      <div class="final_term delay-2 showtop">
        <span>Final Term Project</span>
      </div>
      <div class="date_now delay-3 showtop">
        <button>March 25, 2025</button>
      </div>
     </div>
      <div class="final_img showtop delay-2">
        <img src="https://bnmbnmbnmbnmbnmbnmb.my.canva.site/images/88773f14f08ece1f1bcbd97812098836.png" alt="aaaaa">
      </div>
    </div>
    <div class="topic_overview"></div>
    <div class="main_points"></div>
    <div class="demonstration"></div>
    <div class="results"></div>
    <div class="references"></div>
    <div class="Resource Page"></div>
</div>